APP_ENV=<environment> # The application environment (e.g., development, staging, production)
PORT=<port_number> # The port on which the application will run (e.g., 3000)
DATABASE_USER=<database_user> # The username for the database connection
DATABASE_PASSWORD=<database_password> # The password for the database connection
DATABASE_NAME=<database_name> # The name of the database to connect to
DATABASE_PORT=<database_port> # The port on which the database server is running (e.g., 5432)
DATABASE_HOST=<database_host> # The host of the database server (e.g., localhost)
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}" # The full database connection URL
